<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" >
    <meta data-value="{$openId}">
    <title>重邮消消乐</title>
    <script src="javascripts/limit.js"></script>
    <script src="javascripts/mobileAdaption.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/game.css"> -->
</head>

<body>
    <!-- 首页 --> 
    <div class="allcontainer">
        <div class="container">
            <img src="images/main-background.png" class="main-background">
            <div class="homepage-content">
                <div class="main-img">
                    <img src="images/main-title.png">
                </div>
                <div class="modes">
                    <a href="time" class="mode-time">
                        <img src="images/main-btn-time.png" alt="">
                    </a>
                    <a href="passone" class="mode-pass-through">
                        <img src="images/main-btn-through.png" alt="">
                    </a>
                    <a href="rank" class="ranking-list">
                        <img src="images/main-btn-rank.png" alt="">
                    </a>
                </div>
                <!-- <h5>©红岩网校工作站</h5> -->
            </div>
        </div>
    </div>
    
    <script src="javascripts/zepto.js"></script>
    <script src="javascripts/main.js"></script>
</body>

</html>
